<section id="about" class="container-fluid py-5">
    <div class="container-fluid  future-content">
        <div class="container-fluid d-flex">
            <i class="far fa-user fa-3x border-right p-3 text-danger"></i>
            <div class="ml-3">
                <h1 class="text-uppercase text-white">about us</h1>
                <p class="text-white">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-lg-6 text-center d-flex flex-column justify-content-center">
                    <div>
                        <div class="d-flex justify-content-center bg-danger p-3 border rounded-sm text-white">
                            <i class="far fa-hand-point-down mr-3 my-auto"></i>
                            <p class="text-uppercase my-auto">press here for more info</p>
                        </div>
                        <div class="text-left p-3 bg-white border rounded-sm">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente numquam tempore,
                                officiis
                                nemo fuga ea exercitationem placeat autem? Voluptates perferendis quo animi officiis!
                                Saepe
                                obcaecati id voluptatem necessitatibus temporibus esse.</p>
                        </div>
                        <div class="d-flex justify-content-center bg-danger p-3 border rounded-sm text-white">
                            <i class="far fa-hand-point-down mr-3 my-auto"></i>
                            <p class="text-uppercase my-auto">press here for more info</p>
                        </div>
                        <div class="d-flex justify-content-center bg-danger p-3 border rounded-sm text-white">
                            <i class="far fa-hand-point-down mr-3 my-auto"></i>
                            <p class="text-uppercase my-auto">press here for more
                                info</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="w-100"
                        src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>