<section id="banner" class="container-fluid p-0">
    <div class="banner-content container-fluid d-flex flex-column justify-content-center text-center p-0">
        <div>
            <h1 class="text-uppercase display-2 text-white">agency</h1>
            <h3 class="text-white">This is what we do</h3>
            <div class="d-flex w-25 mx-auto justify-content-around">
                <button type="button" class="btn btn-outline-danger">Start Now</button>
                <button type="button" class="btn btn-outline-danger">Learn More</button>
            </div>
        </div>
        <div class="banner-content-next d-flex w-25 justify-content-between">
            <div class="bg-dark text-white p-2 banner-content-next-icon">
                <i class="fas fa-recycle fa-2x"></i>
                <p class="m-0">Improving</p>
            </div>
            <div class="bg-dark text-white p-2 banner-content-next-icon">
                <i class="fas fa-book fa-2x"></i>
                <p class="m-0">Learning</p>
            </div>
            <div class="bg-dark text-white p-2 banner-content-next-icon">
                <i class="fas fa-mug-hot fa-2x"></i>
                <p class="m-0">Friendly</p>
            </div>
            <div class="bg-dark text-white p-2 banner-content-next-icon">
                <i class="fas fa-anchor fa-2x"></i>
                <p class="m-0">Stable</p>
            </div>
        </div>
        <div class="bg-danger polygon w-100">
            <p class="text-danger">Color</p>
        </div>
    </div>
</section>