<section id="current" class="container-fluid py-5">
    <div class="container-fluid d-flex">
        <i class="far fa-user fa-3x border-right p-3 text-danger"></i>
        <div class="p-3">
            <h1 class="text-uppercase">current projects</h1>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 p-0 current-content1">
            <img class="current-img w-100"
                src="https://images.pexels.com/photos/2058128/pexels-photo-2058128.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <div class="d-flex justify-content-around bg-secondary py-3 current-content2">
                <i class="fab fa-facebook-square fa-3x social"></i>
                <i class="fab fa-twitter fa-3x social"></i>
                <i class="fab fa-instagram fa-3x social"></i>
            </div>
        </div>
        <div class="col-lg-3 p-0 current-content1">
            <img class="current-img w-100"
                src="https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <div class="d-flex justify-content-around bg-secondary py-3 current-content2">
                <i class="fab fa-facebook-square fa-3x social"></i>
                <i class="fab fa-twitter fa-3x social"></i>
                <i class="fab fa-instagram fa-3x social"></i>
            </div>
        </div>
        <div class="col-lg-3 p-0 current-content1">
            <img class="current-img w-100"
                src="https://images.pexels.com/photos/840996/pexels-photo-840996.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <div class="d-flex justify-content-around bg-secondary py-3 current-content2">
                <i class="fab fa-facebook-square fa-3x social"></i>
                <i class="fab fa-twitter fa-3x social"></i>
                <i class="fab fa-instagram fa-3x social"></i>
            </div>
        </div>
        <div class="col-lg-3 p-0 current-content1">
            <img class="current-img w-100"
                src="https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <div class="d-flex justify-content-around bg-secondary py-3 current-content2">
                <i class="fab fa-facebook-square fa-3x social"></i>
                <i class="fab fa-twitter fa-3x social"></i>
                <i class="fab fa-instagram fa-3x social"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 p-0 current-content1">
            <img class="current-img w-100"
                src="https://images.pexels.com/photos/2058128/pexels-photo-2058128.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <div class="d-flex justify-content-around bg-secondary py-3 current-content2">
                <i class="fab fa-facebook-square fa-3x social"></i>
                <i class="fab fa-twitter fa-3x social"></i>
                <i class="fab fa-instagram fa-3x social"></i>
            </div>
        </div>
        <div class="col-lg-3 p-0 current-content1">
            <img class="current-img w-100"
                src="https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <div class="d-flex justify-content-around bg-secondary py-3 current-content2">
                <i class="fab fa-facebook-square fa-3x social"></i>
                <i class="fab fa-twitter fa-3x social"></i>
                <i class="fab fa-instagram fa-3x social"></i>
            </div>
        </div>
        <div class="col-lg-3 p-0 current-content1">
            <img class="current-img w-100"
                src="https://images.pexels.com/photos/840996/pexels-photo-840996.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <div class="d-flex justify-content-around bg-secondary py-3 current-content2">
                <i class="fab fa-facebook-square fa-3x social"></i>
                <i class="fab fa-twitter fa-3x social"></i>
                <i class="fab fa-instagram fa-3x social"></i>
            </div>
        </div>
        <div class="col-lg-3 p-0 current-content1">
            <img class="current-img w-100"
                src="https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <div class="d-flex justify-content-around bg-secondary py-3 current-content2">
                <i class="fab fa-facebook-square fa-3x social"></i>
                <i class="fab fa-twitter fa-3x social"></i>
                <i class="fab fa-instagram fa-3x social"></i>
            </div>
        </div>
    </div>
</section>