<section id="future" class="container-fluid">
    <div class="container-fluid">
        <div class="container-fluid d-flex justify-content-end py-3">
            <div class="mr-3">
                <h1 class="text-uppercase">future projects</h1>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="border-left">
                <i class="fas fa-edit ml-3 fa-3x"></i>
            </div>
        </div>
        <div class="container-fluid py-3">
            <div class="container-fluid d-flex w-100 filter-button-group">
                <button type="button" class="btn btn-outline-danger " data-filter="*">All</button>
                <button type="button" class="btn btn-outline-danger" data-filter=".city">City</button>
                <button type="button" class="btn btn-outline-danger" data-filter=".country">Country</button>
                <button type="button" class="btn btn-outline-danger" data-filter=".water">Water</button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row py-3 grid">
                <div class="col-lg-4 city">
                    <img class="w-100 pic"
                        src="https://images.pexels.com/photos/1105766/pexels-photo-1105766.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                </div>
                <div class="col-lg-4 country">
                    <img class="w-100 pic"
                        src="https://images.pexels.com/photos/1070945/pexels-photo-1070945.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                </div>
                <div class="col-lg-4 water">
                    <img class="w-100 pic"
                        src="https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                </div>
            </div>
            <div class="row py-3 grid">
                <div class="col-lg-4 city">
                    <img class="w-100 pic"
                        src="https://images.pexels.com/photos/1105766/pexels-photo-1105766.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                </div>
                <div class="col-lg-4 country">
                    <img class="w-100 pic"
                        src="https://images.pexels.com/photos/1070945/pexels-photo-1070945.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                </div>
                <div class="col-lg-4 water">
                    <img class="w-100 pic"
                        src="https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>