<section id="numbers" class="container-fluid py-5 px-0">
    <div class="container-fluid">
        <div class="row text-white bg-dark">
            <div class="col-lg-3 text-center py-3 ">
                <i class="fas fa-user fa-2x"></i>
                <p class="numscroller" data-max="10000" data-min='100' data-increment='1' data-delay='10000'></p>
                <p>Users</p>
            </div>
            <div class="col-lg-3 text-center py-3 ">
                <i class="fas fa-landmark fa-2x"></i>
                <p class="numscroller" data-max="10000" data-min="10" data-increment='1' data-delay="10000"></p>
                <p>Students</p>
            </div>
            <div class="col-lg-3 text-center py-3 ">
                <i class="fas fa-briefcase fa-2x"></i>
                <p class="numscroller" data-max="10000" data-min="100" data-increment="1" data-delay="10000"></p>
                <p>Orders</p>
            </div>
            <div class="col-lg-3 text-center py-3 ">
                <i class="fas fa-envelope fa-2x"></i>
                <p class="numscroller" data-max="100000" data-min="10" data-increment="1" data-delay="10000"></p>
                <p>Messages</p>
            </div>
        </div>
    </div>
</section>