<section id="prices" class="prices container-fluid py-5">
    <div class="container-fluid">
        <div class="container-fluid d-flex">
            <i class="far fa-money-bill-alt border-right  fa-5x text-danger px-3"></i>
            <div class="px-3">
                <h1 class="text-uppercase">our amazing prices</h1>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 my-3">
                <div class="text-center border">
                    <p>Basic</p>
                    <p>Monthly Plan</p>
                </div>
                <div class="d-flex py-3 bg-secondary justify-content-center money-box">
                    <div class="money">
                        <p class="money-pos">$</p>
                        <h1>19</h1>
                    </div>
                    <p class="mt-auto mb-2">.99</p>
                    <i class="fas fa-caret-down tri fa-7x text-secondary"></i>
                </div>
                <div class="text-center ">
                    <p class="text-uppercase pt-5 border m-0">100gb monthly bandwidth</p>
                    <p class="text-uppercase border p-3 m-0">1$ google bandwidth</p>
                    <p class="text-uppercase border p-3 m-0">10 domain hoisting</p>
                    <p class="text-uppercase border p-3 m-0">ssl shopping cart</p>
                    <p class="text-uppercase border p-3 m-0">24/7 live support</p>
                    <p class="text-uppercase border p-3 m-0"><a href="#">Sign Up</a></p>
                </div>
            </div>
            <div class="col-lg-3 my-3">
                <div class="text-center border">
                    <p>Standard</p>
                    <p>Monthly Plan</p>
                </div>
                <div class="d-flex py-3 bg-secondary justify-content-center money-box">
                    <div class="money">
                        <p class="money-pos">$</p>
                        <h1>29</h1>
                    </div>
                    <p class="mt-auto mb-2">.99</p>
                    <i class="fas fa-caret-down tri fa-7x text-secondary"></i>
                </div>
                <div class="text-center ">
                    <p class="text-uppercase pt-5 border m-0">100gb monthly bandwidth</p>
                    <p class="text-uppercase border p-3 m-0">1$ google bandwidth</p>
                    <p class="text-uppercase border p-3 m-0">10 domain hoisting</p>
                    <p class="text-uppercase border p-3 m-0">ssl shopping cart</p>
                    <p class="text-uppercase border p-3 m-0">24/7 live support</p>
                    <p class="text-uppercase border p-3 m-0"><a href="#">Sign Up</a></p>
                </div>
            </div>
            <div class="col-lg-3 my-3">
                <div class="text-center border">
                    <p>Premium</p>
                    <p>Monthly Plan</p>
                </div>
                <div class="d-flex py-3 bg-danger justify-content-center money-box">
                    <div class="money">
                        <p class="money-pos">$</p>
                        <h1>39</h1>
                    </div>
                    <p class="mt-auto mb-2">.99</p>
                    <i class="fas fa-caret-down tri fa-7x text-danger"></i>
                </div>
                <div class="text-center ">
                    <p class="text-uppercase pt-5 border m-0">100gb monthly bandwidth</p>
                    <p class="text-uppercase border p-3 m-0">1$ google bandwidth</p>
                    <p class="text-uppercase border p-3 m-0">10 domain hoisting</p>
                    <p class="text-uppercase border p-3 m-0">ssl shopping cart</p>
                    <p class="text-uppercase border p-3 m-0">24/7 live support</p>
                    <p class="text-uppercase border p-3 m-0"><a href="#">Sign Up</a></p>
                </div>
            </div>
            <div class="col-lg-3 my-3">
                <div class="text-center border">
                    <p>Pro</p>
                    <p>Monthly Plan</p>
                </div>
                <div class="d-flex py-3 bg-secondary justify-content-center money-box">
                    <div class="money">
                        <p class="money-pos">$</p>
                        <h1>49</h1>
                    </div>
                    <p class="mt-auto mb-2">.99</p>
                    <i class="fas fa-caret-down tri fa-7x text-secondary"></i>
                </div>
                <div class="text-center ">
                    <p class="text-uppercase pt-5 border m-0">100gb monthly bandwidth</p>
                    <p class="text-uppercase border p-3 m-0">1$ google bandwidth</p>
                    <p class="text-uppercase border p-3 m-0">10 domain hoisting</p>
                    <p class="text-uppercase border p-3 m-0">ssl shopping cart</p>
                    <p class="text-uppercase border p-3 m-0">24/7 live support</p>
                    <p class="text-uppercase border p-3 m-0"><a href="#">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</section>