<section id="services" class="container-fluid py-5">
    <div class="container-fluid">
        <div class="container-fluid d-flex">
            <i class="fas fa-cogs fa-3x text-danger border-right px-2 my-auto"></i>
            <div class="ml-3">
                <h2 class="text-uppercase">services we provide</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-lg-3 main-tri">
                    <div class="triangle mx-auto">
                        <i class="fab fa-apple display-4"></i>
                    </div>
                    <div class="text-center w-75 mx-auto mt-3">
                        <h3>Apple</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ut libero nihil dolorum nostrum
                            magnam aspernatur repellendus, a placeat sunt.</p>
                    </div>
                </div>
                <div class="col-lg-3 main-sqr">
                    <div class="square mx-auto">
                        <i class="fab fa-google display-4"></i>
                    </div>
                    <div class="text-center w-75 mx-auto mt-3">
                        <h3>Google</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ut libero nihil dolorum nostrum
                            magnam aspernatur repellendus, a placeat sunt.</p>
                    </div>
                </div>
                <div class="col-lg-3 main-poly">
                    <div class="poly mx-auto">
                        <i class="fab fa-android display-4"></i>
                    </div>
                    <div class="text-center w-75 mx-auto mt-3">
                        <h3>Android</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ut libero nihil dolorum nostrum
                            magnam aspernatur repellendus, a placeat sunt.</p>
                    </div>
                </div>
                <div class="col-lg-3 main-star">
                    <div class="star mx-auto">
                        <i class="fas fa-cog display-4"></i>
                    </div>
                    <div class="text-center w-75 mx-auto mt-3">
                        <h3>Setting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ut libero nihil dolorum nostrum
                            magnam aspernatur repellendus, a placeat sunt.</p>
                    </div>
                </div>
            </div>
        </div>
</section>