<section id="team" class="container-fluid py-5">
    <div class="container-fluid">
        <div class="d-flex">
            <i class="fas fa-users fa-3x border-right p-3 text-danger"></i>
            <div class="p-3">
                <h1 class="text-uppercase">meet our team</h1>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-3 mt-5">
                <div class="card mx-auto mt-3" style="width: 18rem;">
                    <div class="card-body text-center">
                        <img src="https://images.pexels.com/photos/3765175/pexels-photo-3765175.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            class="w-50 rounded-pill img-content" alt="">
                        <h5 class="card-title pt-3 ">Alfred</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                        <hr>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est optio tenetur
                            corporis expedita nemo laudantium sed? Maiores quos doloremque nesciunt.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="card mx-auto mt-3" style="width: 18rem;">
                    <div class="card-body text-center">
                        <img src="https://images.pexels.com/photos/1191503/pexels-photo-1191503.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            class="w-50 rounded-pill img-content" alt="">
                        <h5 class="card-title pt-3 ">Alfred</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                        <hr>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est optio tenetur
                            corporis expedita nemo laudantium sed? Maiores quos doloremque nesciunt.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="card mx-auto mt-3" style="width: 18rem;">
                    <div class="card-body text-center">
                        <img src="https://images.pexels.com/photos/3087664/pexels-photo-3087664.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            class="w-50 rounded-pill img-content" alt="">
                        <h5 class="card-title pt-3 ">Alfred</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                        <hr>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est optio tenetur
                            corporis expedita nemo laudantium sed? Maiores quos doloremque nesciunt.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="card mx-auto mt-3" style="width: 18rem;">
                    <div class="card-body text-center">
                        <img src="https://images.pexels.com/photos/3699056/pexels-photo-3699056.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            class="w-50 rounded-pill img-content" alt="">
                        <h5 class="card-title pt-3 ">Alfred</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                        <hr>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est optio tenetur
                            corporis expedita nemo laudantium sed? Maiores quos doloremque nesciunt.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>