<section id="testimonial" class="testimonial container-fluid py-3">
    <div class="container-fluid">
        <div class="container-fluid img-carousel py-5 h-100">
            <div class="d-flex">
                <i class="fas fa-comments text-danger px-3 border-right fa-3x"></i>
                <h1 class="text-uppercase pl-3 text-white">what they say</h1>
            </div>
            <!-- Carousel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner mt-5">
                    <div class="carousel-item active text-center">
                        <img class="w-25 rounded-pill"
                            src="https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="d-block w-100" alt="...">
                        <p class="text-white w-25 mx-auto mt-3"> <i class="fas fa-quote-left fa-3x text-danger"></i>
                            Lorem ipsum
                            dolor,
                            sit
                            amet consectetur adipisicing
                            elit.
                            Laudantium,
                            voluptate? Voluptatibus natus nobis amet dignissimos fugiat, non nesciunt quo ab.</p>
                        <p class="text-center text-white">-customer</p>
                    </div>
                    <div class="carousel-item text-center">
                        <img class="w-25 rounded-pill"
                            src="https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="d-block w-100" alt="...">
                        <p class="text-white w-25 mx-auto mt-3"> <i class="fas fa-quote-left fa-3x text-danger"></i>
                            Lorem ipsum
                            dolor,
                            sit
                            amet consectetur adipisicing
                            elit.
                            Laudantium,
                            voluptate? Voluptatibus natus nobis amet dignissimos fugiat, non nesciunt quo ab.</p>
                        <p class="text-center text-white">-customer</p>
                    </div>
                    <div class="carousel-item text-center">
                        <img class="w-25 rounded-pill"
                            src="https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="d-block w-100" alt="...">
                        <p class="text-white w-25 mx-auto mt-3"> <i class="fas fa-quote-left fa-3x text-danger"></i>
                            Lorem ipsum
                            dolor,
                            sit
                            amet consectetur adipisicing
                            elit.
                            Laudantium,
                            voluptate? Voluptatibus natus nobis amet dignissimos fugiat, non nesciunt quo ab.</p>
                        <p class="text-center text-white">-customer</p>
                    </div>
                </div>
                <div class="slider-cont-left my-3">
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <i class="fas fa-caret-square-left text-danger fa-3x"></i>
                    </a>
                </div>
                <div class="slider-cont-right my-3">
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <i class="fas fa-caret-square-right text-danger fa-3x"></i>
                    </a>
                </div>
            </div>
            <!-- Carousel -->
        </div>
    </div>
</section>